.arr{
    stroke-dasharray: 536.02;
    stroke-dashoffset: 536.02;
    transition: stroke-dashoffset 1s ease;
    animation: draw 3s ease infinite;
}
@keyframes draw{
    to{
        stroke-dashoffset: 0;
    }
}
.resume{
    stroke-dasharray: 392.3;
    stroke-dashoffset: 392.3;
    transition: stroke-dashoffset 1s ease;
    animation: draw 3s ease infinite;
}