<div class="w-full h-screen bg-[#f2f2f2] dark:bg-[#121212] flex justify-center items-center text-slate-700 dark:text-[#f2f2f2]">
    <div class="lg:hidden w-full h-full flex justify-center">
        <div class="font-logo text-[25px] relative top-[15%] text-slate-700 dark:text-[#f2f2f2] ">
            I'm <span class="text-[35px]">#Arvindh_KM</span>
        </div>
        <div
            class="flex absolute lg:hidden w-[250px] h-[35px] top-[21%] left-1/2 -translate-x-1/2 font-bold text-[18px] font-itim">
            <div class="flex justify-center items-center h-full w-full text-center m-auto">
                <div class="role">
                    <ngx-typed-js [strings]="typewrite" [typeSpeed]="100" [backSpeed]="50" [smartBackspace]="true"
                        [loop]="true" [startDelay]="1000" [autoInsertCss]="true" style="color:inherit;">
                        <span class="typing leading-[40px]"></span>
                    </ngx-typed-js>
                </div>
            </div>
        </div>
        <div class="text-[12px] absolute right-[18px] top-[40%] font-contrail text-right w-[45%]">
            <div class="flex flex-wrap">
                As an enthusiastic self-learner, I am constantly seeking new challenges and opportunities to expand my
                knowledge and expertise. I am confident that my strong work ethic, technical proficiency, and commitment
                to
                excellence make me a valuable asset to any team.
            </div>
        </div>
        <div class="absolute w-[300px] h-[300px] bg-slate-700 dark:bg-[#2f2f2f]  rounded-full -left-[150px] spin">
            <div
                class=" w-[96%] h-[96%] rounded-full bg-[#f2f2f2] dark:bg-[#575757] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-curve text-[16px]">
                <div class="py-2 absolute top-[128px] left-[210px]">#Angular</div>
                <div class="absolute rotate-[300deg] top-[31px] left-[170px]">#Java</div>
                <div class="py-2 absolute rotate-[240deg] top-[40px] left-[51px]">#Python</div>
                <div class="p-2 absolute rotate-[180deg] top-[132px]">#Tailwind</div>
                <div class="absolute rotate-[120deg] top-[221px] left-[56px]">#NodeJS</div>
                <div class="py-2 absolute rotate-[60deg] top-[205px] left-[136px]">#SpringBoot</div>
            </div>
        </div>
        <div class="dark:hidden absolute top-[78%] left-[62%]">
            <svg width="50" height="49" viewBox="0 0 50 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="write"
                    d="M48 2C40.7639 4.17491 35.4759 9.74876 32.0276 15.8068C29.9573 19.4437 27.294 23.963 28.4548 28.1994C29.9435 33.6328 41.3985 27.2947 43.5078 25.0353C47.1657 21.1172 44.1141 16.3561 39.0155 15.615C27.3963 13.9263 21.0136 18.0333 15.4772 27.4084C12.6388 32.2146 10.7042 37.4837 9.90782 42.8931C9.76418 43.8688 10.3412 46.1695 8.72564 45.9853C6.03234 45.6781 4.93563 42.129 3.708 40.3523C0.243775 35.3384 2.90442 40.4213 4.23339 42.5336C7.93578 48.4182 11.7367 48.1655 17.1059 43.6602C20.1339 41.1193 22.8768 38.3467 25.7752 35.702C26.5561 34.9895 27.4957 34.3597 28.6124 34.3597"
                    stroke="#2f2f2f" stroke-width="4" stroke-linecap="round" />
            </svg>
        </div>
        <div class="dark:block hidden absolute top-[78%] left-[62%]">
            <svg width="50" height="49" viewBox="0 0 50 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="write"
                    d="M48 2C40.7639 4.17491 35.4759 9.74876 32.0276 15.8068C29.9573 19.4437 27.294 23.963 28.4548 28.1994C29.9435 33.6328 41.3985 27.2947 43.5078 25.0353C47.1657 21.1172 44.1141 16.3561 39.0155 15.615C27.3963 13.9263 21.0136 18.0333 15.4772 27.4084C12.6388 32.2146 10.7042 37.4837 9.90782 42.8931C9.76418 43.8688 10.3412 46.1695 8.72564 45.9853C6.03234 45.6781 4.93563 42.129 3.708 40.3523C0.243775 35.3384 2.90442 40.4213 4.23339 42.5336C7.93578 48.4182 11.7367 48.1655 17.1059 43.6602C20.1339 41.1193 22.8768 38.3467 25.7752 35.702C26.5561 34.9895 27.4957 34.3597 28.6124 34.3597"
                    stroke="#f2f2f2" stroke-width="4" stroke-linecap="round" />
            </svg>
        </div>
        <div class="p-2 absolute font-curve top-[72%] left-[75%] text-center">check out<br>my projects</div>
    </div>
    <div class="hidden lg:block h-full w-full flex justify-center">
        <div class="font-itim absolute top-[31px] left-[62%] text-[15px] font-bold leading-[20px]">Chennai, Tamil Nadu, IN</div>
        <div class="font-itim absolute top-[30px] left-[80%] text-[15px] font-bold leading-[20px]">aaaeroa@gmail.com</div>
        <div class="font-logo text-[35px] absolute left-1/2 -translate-x-1/2 top-[40%] text-slate-700 dark:text-[#f2f2f2]">
            I'm <span class="text-[50px]">#Arvindh_KM</span>
        </div>
        <div
            class="flex absolute w-[400px] h-[50px] top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 font-bold text-[25px] font-itim">
            <div class="flex justify-center items-center h-full w-full text-center">
                <div class="role">
                    <ngx-typed-js [strings]="typewrite" [typeSpeed]="100" [backSpeed]="50" [smartBackspace]="true"
                        [loop]="true" [startDelay]="1000" [autoInsertCss]="true" style="color:inherit;">
                        <span class="typing my-4" id="type"></span>
                    </ngx-typed-js>
                </div>
            </div>
        </div>
        <div class="text-[20px] absolute left-[20%] top-[68%] font-contrail text-right w-[30%]">
            <div class="flex flex-wrap leading-8">
                As an enthusiastic self-learner, I am constantly seeking new challenges and opportunities to expand my
                knowledge and expertise. I am confident that my strong work ethic, technical proficiency, and commitment
                to
                excellence make me a valuable asset to any team.
            </div>
        </div>
        <div class="absolute w-[500px] h-[500px] bg-slate-700 dark:bg-[#2f2f2f] rounded-full -left-[250px] spin-lg">
            <div
                class=" w-[96%] h-[96%] rounded-full bg-[#f2f2f2] dark:bg-[#575757] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-curve text-[30px]">
                <div class="p-4 absolute top-[195px] left-[318px]">#Angular</div>
                <div class="absolute rotate-[300deg] top-[56px] left-[271px]">#Java</div>
                <div class="py-4 absolute rotate-[240deg] top-[68px] left-[89px]">#Python</div>
                <div class="p-4 absolute rotate-[180deg] top-[202px] left-[3px]">#Tailwind</div>
                <div class="absolute rotate-[120deg] top-[366px] left-[91px]">#NodeJS</div>
                <div class="p-4 absolute rotate-[60deg] top-[339px] left-[231px] text-[25px]">#SpringBoot</div>
            </div>
        </div>
        <div class="dark:hidden absolute top-[54%] left-[82%]">
            <svg width="158" height="113" viewBox="0 0 158 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="projects" d="M1.99999 100C15.316 81.31 34.8535 71.4163 53.5582 67.2538C64.7876 64.7549 78.8411 61.3893 87.9903 68.7193C99.7245 78.1203 71.5195 104.972 63.6376 108.884C49.9691 115.669 41.6091 102.423 45.3962 87.1059C54.0265 52.2003 71.1585 37.7821 100.325 30.7673C115.277 27.1711 130.375 26.6028 144.565 29.4303C147.124 29.9403 152.151 33.7683 153.476 28.9626C155.684 20.9512 148.156 14.4541 145.134 9.25606C136.606 -5.41214 146.188 7.01754 149.924 12.8231C160.333 28.9967 155.528 39.6547 138.531 50.7908C128.945 57.0711 119.103 62.3148 109.404 68.1256C106.792 69.6911 104.207 71.7899 102.979 74.9912" stroke="#334155" stroke-width="4" stroke-linecap="round"/>
            </svg>                
        </div>
        <div class="dark:block hidden absolute top-[54%] left-[82%]">
            <svg width="158" height="113" viewBox="0 0 158 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="projects" d="M1.99999 100C15.316 81.31 34.8535 71.4163 53.5582 67.2538C64.7876 64.7549 78.8411 61.3893 87.9903 68.7193C99.7245 78.1203 71.5195 104.972 63.6376 108.884C49.9691 115.669 41.6091 102.423 45.3962 87.1059C54.0265 52.2003 71.1585 37.7821 100.325 30.7673C115.277 27.1711 130.375 26.6028 144.565 29.4303C147.124 29.9403 152.151 33.7683 153.476 28.9626C155.684 20.9512 148.156 14.4541 145.134 9.25606C136.606 -5.41214 146.188 7.01754 149.924 12.8231C160.333 28.9967 155.528 39.6547 138.531 50.7908C128.945 57.0711 119.103 62.3148 109.404 68.1256C106.792 69.6911 104.207 71.7899 102.979 74.9912" stroke="#f2f2f2" stroke-width="4" stroke-linecap="round"/>
            </svg>                
        </div>
        <div class="p-[25px] absolute font-curve top-[67%] left-[66%] text-center text-[45px]">check out<br>my projects</div>
    </div>
</div>